{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Persons Finder</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    
   
</head>

    <header>
        <div class="logo-container">
            <img src="{% static 'images/logo.webp' %}" alt="Reunite Logo" class="logo img">
            <span class="brand-name">REUNITE</span>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><!-- In base.html -->
                    <a href="{% url 'admin_interface:admin_login' %}">Admin</a>
                    </li>
                <li><a href="{% url 'report_missing_person' %}">Report Missing Person</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <main>
    {% block content %}
    {% endblock %}
        </main>
</body>
</html>
